.text-input {
	border: 1px solid #cacccd;
	height: 6rem;
	padding: $m-size;
	font-size: $font-size-medium;
	font-weight: 300;
	border-radius: $border-1;

	&:focus,
	:active {
		outline: none;
	}
}

.select {
	@extend .text-input;
}

.textarea {
	@extend .text-input;
	height: 10rem;
	width: 100%;
}

.DateRangePickerInput__withBorder,
.SingleDatePickerInput__withBorder {
	border-radius: $border-1;
	border: 1px solid #cacccd;
	height: 6rem;
	padding-top: .6rem;
}

.SingleDatePickerInput__withBorder {
	width: 100%;
}
